@font-face { font-family: Handwriting_Font_3; src: url('Handwriting_Font_3.ttf'); }
@font-face { font-family: Handwriting_Font_3; font-weight: bold; src: url('Handwriting_Font_3.ttf');}

html {
    background-image: url("https://static1.squarespace.com/static/50c81b76e4b04856f8b9256e/t/53279a3ee4b0bc54fcdba59d/1395104323336/");
    background-color: slategray;
}

nav {
    text-align: center;
}

button {
    color: #3c4141;
    height: 2.5em;
    margin: 1.5em 0.5em 0.2em;
    border-radius: 0.5em;
    font-size: 12pt;
    font-weight: bold;
    text-shadow: 2px 2px 3px rgba(199, 199, 199, 0.35);
    background: linear-gradient(0, rgba(78, 78, 78, 0.46), rgba(248, 248, 248, 0.33));
}

button:nth-child(2) {
    background-color: #45a245;
}

button:nth-child(3) {
    background-color: #d41d1d;
}

button:nth-child(4) {
    background-color: #cdd41d;
}

button:nth-child(5) {
    background-color: #1daad4;
}

div {
    font-family: Handwriting_Font_3;
    font-size: 14pt;
}

.class1, .class2, .class3, .class4, .class5
{
    position: relative;
    font-size: 15pt;
}

.class1 {
    color: red;
}

.class2 {
  color: blue;
}

.class2 {
  color: blue;
}

.class3 {
  color: red;
}

.class4 {
  color: green;
}

.class5 {
  color: orange;
}

#nav-image {
    background-image: url("https://s-media-cache-ak0.pinimg.com/564x/8d/83/17/8d8317bd33cb6acc5459a12716e414a5.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 9em;
}

#word-area {
    width: 40em;
    margin: 0 auto;
    padding: 0.5em 1em 0em;
}

p {
}

body {
    width: 50em;
    margin: 0 auto;
    height: 50em;
    background-color: beige;
    border: 0.2em dotted rgba(70, 59, 52, 0.55);
    box-shadow: 0 0 3em #3e333e;
}

#toddler-title {
    background-image: url(image/toddler.png);
    height: 7em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20em;
    background-color: #ffffff;
    position: relative;
    width: 40em;
    margin: -8em 0 0 -35em;
    z-index: -2;
    box-shadow: 0 0.3em 3em rgba(0, 0, 0, 0.43);
    animation: slideLeft 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes slideLeft {
    0% {margin-left: -80em;}
    100% {margin-left: -35em;}


